body{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

.my-input{
    padding: 0 auto;
}
.spinner{
    border: 5px solid rgb(214, 229, 235);
    border-top: 5px solid rgb(92, 124, 185);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    animation: loading 1s infinite linear;

}
@keyframes loading{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.my-login{
    min-height: 400px;
}
.my-todo{
    min-height: 24rem;
}

